.nav-header {
  display: flex;
  justify-content: center;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
}
.nav-img {
  width: 120px;
}
.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-change-button {
  border: none;
  background-color: #ffffff;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
  outline: none;
}
.dark-background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
  background-color: #212121;
}
.icon {
  height: 27px;
  width: 27px;
}
.profile {
  height: 35px;
  width: 35px;
  margin-left: 7px;
  margin-right: 7px;
}
.logout-button {
  width: 100px;
  height: 28px;
  border: 1px solid #3b82f6;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
  font-weight: bold;
  background-color: #ffffff;
  font-size: 14px;
  color: #3b82f6;
  margin-left: 7px;
  margin-right: 7px;
}
.dark-button {
  width: 100px;
  height: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
  font-weight: bold;
  background-color: #212121;
  font-size: 14px;
  color: #ffffff;
  margin-left: 7px;
  margin-right: 7px;
}
